/* Themes */

:root {
  --payment-form-width: 320px;
  --input-height: 50px;

  --white: #fff;
  --black: #000000;

  --gray0: rgba(0, 0, 0, 0.1);
  --gray1: rgba(0, 0, 0, 0.2);
  --gray2: rgba(0, 0, 0, 0.3);

  --cyan0: rgba(108, 195, 180, 1);
  --cyan1: rgba(108, 195, 180, 0.3);
  --cyan2: rgba(108, 195, 180, 0.6);
  --cyan3: rgba(108, 195, 180, 0.9);

  --blue0: #13395e;
  --blue1: rgba(19, 57, 94, 0.4);
  --blue2: #000839;

  --yellow: #ffa41b;
  --orange: #d96830;
  --red: #ed6077;
}

.light {
  /* Background */
  --bg: var(--white);

  --pay-button-text-color: var(--white);
  --pay-button-color: var(--cyan0);
  --pay-button-border-color: var(--cyan1);
  --pay-button-hover-color: var(--cyan3);
  --pay-button-shadow-color: var(--blue1);
  --pay-button-disabled-color: var(--cyan2);
  --pay-button-disabled-background-color: unset;
  --border-color: var(--gray0);
  --border-focus-color: var(--gray2);
  --label-color: var(--gray2);
  --label-background-color: var(--white);

  /* Theme switch colours */
  --switch-background-color: var(--blue0);
  --switch-moon-color: var(--white);
  --switch-sun-color: var(--yellow);
  --switch-border-color: var(--white);

  /* Invalid input border and errors */
  --error-color: var(--orange);

  /* Loading dots for Frames */
  --frames-loader-color: var(--gray1);

  /* Loading dots for payment */
  --button-loader-color: var(--white);

  /* Input fields when autofill is enabled */
  --autofill-color: var(--white);

  /* Cardholder input text, blue0 matches Frames default */
  --name-input-color: var(--blue0);
  --name-input-background-color: var(--white);

  /* Pay button when payment declined/failed */
  --fail-color: var(--red);

  /* Outcome animations */
  --checkmark-color: var(--white);
  --cross-color: var(--white);
}

.dark {
  --bg: var(--black);

  --pay-button-text-color: var(--black);
  --pay-button-color: snow;
  --pay-button-border-color: var(--black);
  --pay-button-hover-color: var(--white);
  --pay-button-shadow-color: ghostWhite;
  --pay-button-disabled-color: darkGray;
  --pay-button-disabled-background-color: darkSlateGray;
  --border-color: gray;
  --border-focus-color: lightGray;
  --label-color: gray;
  --label-background-color: var(--black);

  /* Theme switch colours */
  --switch-background-color: var(--blue2);
  --switch-moon-color: var(--white);
  --switch-sun-color: var(--yellow);
  --switch-border-color: var(--black);

  /* Invalid input border and errors */
  --error-color: var(--orange);

  /* Loading dots for Frames */
  --frames-loader-color: var(--white);

  /* Loading dots for payment */
  --button-loader-color: var(--black);

  /* Input fields when autofill is enabled */
  --autofill-color: var(--black);

  /* Cardholder input text, blue0 matches Frames default */
  --name-input-color: var(--white);
  --name-input-background-color: var(--black);

  /* Pay button when payment declined/failed */
  --fail-color: var(--red);

  /* Outcome animations */
  --checkmark-color: var(--black);
  --cross-color: var(--black);
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  transition: background 1000ms ease-in-out, color 500ms ease-in-out;
}

/* Remove autofill color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--autofill-color) inset !important;
  box-shadow: 0 0 0 30px var(--autofill-color) inset !important;
}

iframe {
  /* This fixes a mobile Safari bug, without it the input will be 15px tall */
  height: var(--input-height) !important;
}

#payment-form {
  width: var(--payment-form-width);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 1.2rem;
}

.input-wrapper input {
  font-family: "Open Sans";
  height: 3.4rem;
  text-indent: 12px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  padding-left: 3px;
  outline: none;
}

.input-wrapper label {
  font-family: "Open Sans";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: 0.1s;
  font-size: 0.8rem;
  pointer-events: none;
  font-family: "Open Sans";
  left: 0.6rem;
  padding: 0 0.5rem;
  color: var(--label-color);
  background-color: var(--label-background-color);
  letter-spacing: 0.5px;
}

.input-wrapper .float-up {
  transform: translate(0, -190%);
  color: var(--border-focus-color);
  font-size: 0.8rem;
  opacity: 1;
}

/* Name Input */

#name-input {
  outline: 0;
  height: 50px;
  width: calc(100% - 7px);
  border-radius: 5px;
  border: 1px solid var(--border-color);
  color: var(--name-input-color) !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: "16px";
  letter-spacing: "0.22px";
  background-color: var(--name-input-background-color);
}

#name-input:focus {
  border: 1px solid var(--border-focus-color);
}

#name-input::placeholder {
  font-weight: 300;
  font-size: 14px;
}

#name-input.invalid-input {
  border: 1px solid var(--error-color);
}

/* Frames inputs */

.card-number {
  height: var(--input-height);
  display: relative;
}

.card-number img {
  position: absolute;
  width: 35px;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-right: 10px;
  left: 0;
  right: 0;
}

.date-and-code {
  display: flex;
  margin-bottom: 8px;
}

.date-and-code > div:nth-child(1) {
  margin-right: 5px;
}

.date-and-code > div:nth-child(2) {
  margin-left: 5px;
}

/* Pay button */

#pay-button {
  border: none;
  outline: 0;
  border-radius: 3px;
  color: var(--pay-button-text-color);
  font-weight: 600;
  font-size: 15px;
  height: 50px;
  width: 100%;
  background-color: var(--pay-button-color);
  border: 1px solid var(--pay-button-border-color);
  border-radius: 5px;
  transition: 0.3s;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

#pay-button:hover {
  background-color: var(--pay-button-hover-color);
  color: var(--pay-button-text-color);
  box-shadow: 0 2px 5px 0 var(--pay-button-shadow-color);
}

#pay-button:disabled {
  color: var(--pay-button-disabled-color);
  background-color: var(--pay-button-disabled-background-color);
  cursor: not-allowed;
  box-shadow: none;
  cursor: no-drop;
}

.hide {
  display: none;
}

#refresh-icon {
  height: 15px;
  width: 12px;
}

/* Hints */

.hint {
  position: absolute;
  bottom: 0;
  width: 200px;
  font-size: 11px;
  color: var(--border-focus-color);
  margin-bottom: calc(var(--input-height) / 3);
}

.card-hint {
  margin-left: var(--payment-form-width);
}

.date-hint {
  right: 31px;
}

.cvv-hint {
  left: 155px;
}
